{% extends "base_fullscreen.html" %}

{% block content %}

<div id="vueMount">

  <edit-panels-container :initial-debates="panels"
                         :round-info="roundInfo"
                         :initial-unallocated-items="unallocatedItems"
                         :default-sort-key="'id'"
                         :default-sort-order="'desc'"
                         :show-intro-modal="showIntroModal">
  </edit-panels-container>

</div>

{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      panels: {{ vuePreformedPanels|safe }},
      roundInfo: {{ vueRoundInfo|safe }},
      unallocatedItems: {{ vueUnusedAdjudicators|safe }},
      showIntroModal: false
    }
  </script>
  {{ block.super }}
{% endblock js %}
